.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height, you can adjust as needed */
}

.loader {
  border: 8px solid #f3f3f3; /* Light gray background */
  border-top: 8px solid #3498db; /* Blue color for the rotating part */
  border-radius: 50%;
  width: 50px; /* Size of the circle */
  height: 50px; /* Size of the circle */
  animation: spin 2s linear infinite; /* Spinning animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
